body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    h1{
        text-align: center;
    }
    .column { 
        float: left;
        width: 33.3%;
        padding: 10px;
        box-sizing: border-box;
        border: black 2px solid;
        
        /*padding: 10px;*/
    }
    section h2 {
        
        text-align: right;
        margin-right: 10px;
        
    }
}